h1=title

h2 API-Key Limits (#{link})

input(type='hidden',id='api-link',value=link)

- var units = [{label:'Hour',value: 'hour'}, {label: 'Minute', value: 'minute'}, {label: 'Second', value: 'second'}];
div.form
    h3 Rate Limiting
    form(name='rate-limit-form',id='rate-limit-form')
        | Allow up to 
        input(size=5,name='rateLimit',value=rateLimit)
        |&nbsp;calls per 
        select(name='rateLimitUnit')
            - for (var i=0; i<units.length; i++)
                - if (rateLimitUnit == units[i].value)
                    option(value=units[i].value, SELECTED='true') #{units[i].label}
                - else
                    option(value=units[i].value) #{units[i].label}
        |&nbsp;
        input(type='submit', value='Submit')

    br
    
    h3 Load
    |<center><font color=#808080>Last 24 hours</font></center>
    div#load-chart

    h3 Request Logs
    div#request-logs

script(src='/javascripts/raphael/raphael-min.js')
script(src='/javascripts/raphael.popup.js')
script(src='/javascripts/viewlink.js')
